body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.text-white {
  color: white;
}

.box {
  min-height: 60px;
  cursor: pointer;
}

.place-center {
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
}

.gap {
  gap: 8px;
  padding: 8px;
}

.bg-blue {
  background-color: deepskyblue;
}

.bg-red {
  background-color: indianred;
}

.bg-olive {
  background-color: olive;
}

.bg-brown {
  background-color: brown;
}

.bg-purple {
  background-color: purple;
}

.bg-teal {
  background-color: teal;
}

.bg-green {
  background-color: green;
}

.bg-medium-purple {
  background-color: mediumpurple;
}

.bg-gray {
  background-color: gray;
}

@media only screen and (max-width: 600px) {
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  .col-span-2 {
    grid-column: span 2;
  }

  .row-start-3 {
    grid-row-start: 3;
  }

  .row-start-4 {
    grid-row-start: 4;
  }

  .row-start-6 {
    grid-row-start: 6;
  }
}

@media only screen and (min-width: 600px) {
  .md-grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .md-row-span-2 {
    grid-row: span 2;
  }

  .md-col-span-2 {
    grid-column: span 2;
  }

  .md-col-start-1 {
    grid-column-start: 1;
  }

  .md-col-start-2 {
    grid-column-start: 2;
  }

  .md-col-start-3 {
    grid-column-start: 3;
  }

  .md-row-start-3 {
    grid-row-start: 3;
  }

  .md-row-start-4 {
    grid-row-start: 4;
  }

  .md-row-end-5 {
    grid-row-end: 5;
  }

  .md-row-end-6 {
    grid-row-end: 6;
  }
}
